<footer>
  <div class="links">
    <button type="button">
      <a href="https://github.com/JennyLamego2022" target="_blank"><img src="../../../assets/img/github.png" style="width: 20px" alt="Logo GitHub"></a>

    </button>
    <button type="button">
      <a href="https://www.linkedin.com/in/jennyferlamego/" target="_blank"><img src="../../../assets/img/linkedin.png" style="width: 20px"  alt="Logo LinkedIn"></a>

    </button>
  </div>
  <div class="copyheigth">
    <p>© Copyright - By Jennyfer Lamego</p>
  </div>
</footer>

