<form action="" class="container">
  <div>
    <fieldset class="campo">
      <legend class="legend">Nome</legend>
      <input type="text" placeholder="Digite seu nome completo">
    </fieldset>
    <fieldset class="campo">
      <legend class="legend">E-mail</legend>
      <input type="email" placeholder="Digite seu e-mail">
    </fieldset>
    <fieldset class="campo">
      <legend class="legend">Endereço</legend>
      <input type="text" placeholder="Rua, estrada, avenida, etc.  - Número">
    </fieldset>
    <fieldset class="campo">
      <legend class="legend">Complemento</legend>
      <input type="text" placeholder="Qd., bloco, apto">
    </fieldset>
    <fieldset class="campo">
      <legend class="legend group">Telefone</legend>
      <div class="tel">
        <input type="number" name="phone" placeholder="+55">
        <input type="number" class="phone"placeholder="(00) 0000 0000">
      </div>
    </fieldset>

    <div class="dados">
      <fieldset class="campo">
        <legend class="legend group">Nasc.</legend>
        <input type="number" placeholder="dd/mm/aaaa">
      </fieldset>
      <fieldset class="campo">
        <legend class="legend group">Sexo</legend>
        <select class ="select" name= "select">
          <option value="feminino">Feminino</option>
          <option value="masculino">Masculino</option>
          <option value="outro">Outro</option>
        </select>
      </fieldset>
    </div>
    <div class="acao">
      <button type="submit" class="btn-acao">Cadastro</button>
    </div>
  </div>
</form>
