<form action="" class="container">
  <div>
  <fieldset class="campo">
    <legend class="legend">Nome</legend>
      <input type="text" placeholder="Digite seu nome completo">
  </fieldset>
  <fieldset class="campo">
    <legend class="legend">E-mail</legend>
      <input type="email" placeholder="Digite seu e-mail">
  </fieldset>
  <fieldset class="campo">
    <legend class="legend">Endereço</legend>
      <input type="text" placeholder="Rua, estrada, avenida, etc.  - Número">
  </fieldset>
  <fieldset class="campo">
    <legend class="legend">Complemento</legend>
      <input type="text" placeholder="Qd., bloco, apto">
  </fieldset>



  <fieldset class="campo">
      <legend class="legend group">Telefone</legend>
        <div class="tel">
          <input type="tel" name="phone" placeholder="+55">
          <input type="tel" class="phone"placeholder="Digite seu telefone">
        </div>



  </fieldset>
  <fieldset>
    <div>
      <legend >Nasc.
        <input type="text" placeholder="Digite seu endereço">
      </legend>
      <legend>Sexo
        <select name= "select">
          <option value="feminino">Feminino</option>
          <option value="masculino">Masculino</option>
          <option value="outro">Outro</option>
        </select>
      </legend>
    </div>
  </fieldset>


</div>
</form>
